<form #todoForm="ngForm">
  <ion-item [draggable]="mode==='view'" (click)="select()" style="margin-left: 12px;" [color]="selected?'light':''">
    <ion-icon *ngIf="todo.children.length" (click)="triggle($event)"
      [name]="expanded?'arrow-dropdown':'arrow-dropright'" slot="start"></ion-icon>
    <ion-input *ngIf="mode==='edit'" type="text" required [(ngModel)]="todo.title" #name="ngModel" name="title">
    </ion-input>
    <ion-label *ngIf="mode==='view'">{{todo.title}}</ion-label>
    <ion-checkbox *ngIf="!todo.children.length" value="ford" slot="end" [ngModel]="todo.getStatus()"
      (ngModelChange)="todo.setStatus($event)" #name="ngModel" name="status"></ion-checkbox>
    <ion-label *ngIf="todo.children.length" position="inline">{{todo.progress}} %</ion-label>
  </ion-item>
</form>


<div class="ion-padding-start">
  <app-todo-item [hidden]="!expanded" *ngFor="let item of todo.children" [todo]="item"></app-todo-item>
</div>