<ion-item [draggable]="mode==='view'" style="margin-left: 12px;">
  <ion-input *ngIf="mode==='edit'" type="text" [value]="todo.title"></ion-input>
  <ion-label *ngIf="mode==='view'">{{todo.title}}</ion-label>
  <ion-radio value="ford" slot="end"></ion-radio>
  <ion-icon *ngIf="todo.children.length" (click)="triggle()" [name]="expand?'arrow-dropdown':'arrow-dropright'"
    slot="start"></ion-icon>
  <!-- <div *ngIf="!todo.children.length" slot="start"></div> -->
</ion-item>

<div class="ion-padding-start">
  <app-todo-item [hidden]="!expand" *ngFor="let item of todo.children" [todo]="item"></app-todo-item>
</div>