<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="3" sizeMd="4" sizeSm="12" sizeXs="12">
        <ion-list>
          <ion-item [tabindex]="index" *ngFor="let item of collects; index as index"
            [routerLink]="['/projects/list/',index]">
            <ion-icon slot="start" [name]="item.icon"></ion-icon>
            <ion-label>{{item.title}}{{index}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col sizeLg="9" sizeMd="8" sizeSm="12" sizeXs="12">
        <ion-router-outlet>
        </ion-router-outlet>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>